body {
  background: #202020;
}
.sidebar {
  float: left;
  width: 206px;
  margin-right: 20px;
  padding: 30px 0 0 30px;
}
.sidebar .user {
  width: 206px;
  height: 69px;
  background: url(../images/profile.png);
  margin-bottom: 25px;
}
.sidebar .user .logo {
  float: left;
  width: 69px;
  height: 69px;
  overflow: hidden;
  margin-right: 7px;
}
.sidebar .user .name {
  float: left;
  width: 125px;
  padding-top: 13px;
}
.sidebar .user .name h2 {
  font-size: 14px;
  font-weight: normal;
  color: #909090;
  text-shadow: 0 1px 0 #000;
  margin-bottom: 9px;
}
.sidebar .user .name h1 {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.sidebar .nav ul {
  margin-bottom: 60px;
  padding-left: 2px;
}
.sidebar .nav li {
  font-size: 13px;
  margin-bottom: 20px;
}
.sidebar .nav li a {
  display: block;
  color: #e0e0e0;
  text-decoration: none;
  background: url(../images/icons.png) no-repeat -53px 0;
  height: 16px;
  line-height: 15px;
  padding-left: 25px;
  opacity: 0.2;
}
.sidebar .nav li a:hover {
  opacity: 0.3;
}
.sidebar .nav li.order_management a {
  background-position: -53px -35px;
}
.sidebar .nav li.members a {
  background-position: -53px -70px;
}
.sidebar .nav li.reports a {
  background-position: -53px -104px;
}
.sidebar .nav li.subscriptions a {
  background-position: -53px -139px;
}
.sidebar .nav li.plans a {
  background-position: -53px -175px;
}
.sidebar .nav li.marketing_tools a {
  background-position: -53px -210px;
}
.sidebar .nav li.admin a {
  background-position: -53px -280px;
}
.sidebar .nav li.storefront a {
  background-position: -53px -314px;
}
.sidebar .nav li.users a {
  background-position: -53px -350px;
}
.sidebar .nav li.account_settings a {
  background-position: -52px -384px;
}
.sidebar .nav li.contact_information a {
  background-position: -53px 0;
}

.content-wrapper {
  margin-left: 256px;
  padding: 33px 30px 30px 0;
}