<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/affiliate_program/" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 632px; height: 80px; background: url(https://monthlys.com/newsletters/affiliate_program/header.png); position: relative;">
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 560px; padding: 5px 30px 0; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px soldfai #dbeef2;">
          <h1 style="padding: 0 30px 0 0; font-family: Helvetica, Arial, sans-serif; font-size: 26px; color: #464646; font-weight: normal; margin: 0 0 20px;">Hi,</h1>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            This is Alan Affiliate Manager at Monthlys.com.
          </p>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            Say goodbye to shopping carts and checkouts, with Monthlys, turn on what you need, turn off what you dont. Monthlys helps you narrow things down to the things you need or absolutely love, and makes it easy to turn them on as a service. Enter your billing information once and turn on and off as many subscriptions as you'd like. The best part about Monthlys is that we handpick the best merchants for you.
          </p>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            Monthlys doesn't quite fit into a box. It's not your average application. Find and activate convenient subscriptions with Monthlys. We promote fair cost and quality, our partners are chosen based on their offering and attention to detail.
          </p>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            I just came across your website and found it to be a good match for our products and affiliate program. We have developed a new and very attractive affiliate program providing you with a commission of <b style="background: #e5f3f6; padding: 0 3px;">4%</b> per sale and <b style="background: #e5f3f6; padding: 0 3px;">$0.50</b> per lead generate from your website.
          </p>
          <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #535353; margin: 0 0 7px;">Why join the Monthlys.com Affiliate Program?</h2>
          <ul>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">Sign-up is easy and free!</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">Trusted and easy-to-use tracking of traffic and sales.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">We have Pay Per Sale and Lead Program.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">2-tiered commissions to affiliates.</li>
          </ul>
          <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #535353; margin: 0 0 7px;">Details of our Affiliate Program.</h2>
          <ul>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">Earn a <b style="background: #e5f3f6; padding: 0 3px;">4%</b> commission on all Sales.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">Get <b style="background: #e5f3f6; padding: 0 3px;">$0.50</b> commission per Lead.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">We offer 2-tiered commissions.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">60 day cookie tracking.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">We provide professional eye-catching banners and text links.</li>
            <li style="color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">Dedicated Affiliate Manager.</li>
          </ul>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            Our associated third party affiliate network is <b style="background: #e5f3f6; padding: 0 3px;">ShareASale</b>, which easily manages your affiliate account and assures you receive timely payment of commissions.
          </p>
          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            Apply now to our Affiliate Program by simply clicking the link below, and earn potent commission of 4% per sale and $0.50 per lead.
          </p>

          <a style="display: block; text-align: center; background: #fff; padding: 20px 0 25px 0;" href="http://www.shareasale.com/shareasale.cfm?merchantID=40596 " target="_blank">
            <img src="https://monthlys.com/newsletters/affiliate_program/cta.png" />
          </a>

          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            Questions and suggestions are most welcome at <a style="color: #0273dc; text-decoration: none;8" href="mailto:affiliates@monthlys.com">affiliates@monthlys.com</a>
          </p>

          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0 0 20px;">
            We would love to work with YOU!
          </p>

          <p style="padding: 0 30px 0 0; color: #737373; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0; padding: 0 0 20px;">
            Thank you in advance! Your response to our email is highly anticipated!
          </p>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get the latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
