<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/coupon_sign_up/<%= @friend.id %>" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 632px; height: 80px; background: url(https://monthlys.com/newsletters/coupon_sign_up_earn_5_dollars/header.png); position: relative;">
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 560px; padding: 5px 30px 0; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px soldfai #dbeef2; text-align: center;">
          <h1 style="font-family: Arial, sans-serif; margin: 0; font-size: 32px; font-weight: normal; text-align: center; font-weight: bold;"><%= @inviter.full_name %> has a gift for you</h1>
          <p style="font-family: Arial, sans-serif; margin: 0 0 20px; font-size: 24px; font-weight: normal; color: #a4a8a9; text-align: center;">Join Monthlys and win a $5 giftcard</p>
          <p style="margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #757575; line-height: 25px">Hey <strong><%= @friend.email %></strong>, <%= @inviter.full_name %> wants you to try Monthlys!
          </p>
          <p style="margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #757575; line-height: 25px">
            Monthlys lets you discover and manage subscriptions in your area.
          </p>
          <p style="margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #757575; line-height: 25px">
            Get better quality. Save time and money.
          </p>
        </div>
      </td>
    </tr>
    <!-- redeem call to action -->
    <tr>
      <td>
        <a style="width: 620px; display: block; text-align: center; background: #fff; border-left: 1px solid #dbeef2; border-bottom: 1px solid #dbeef2; border-right: 1px solid #dbeef2; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-bottom: 10px; padding: 20px 0 45px 0;" href="http://monthlys.com/users/register_5_dollar_coupon" target="_blank">
          <img style="margin-bottom: 20px;" src="https://monthlys.com/newsletters/coupon_sign_up_earn_5_dollars/card.png" />
          <img src="https://monthlys.com/newsletters/coupon_sign_up_earn_5_dollars/cta.png" />
        </a>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="text-align: center; width: 620px; background: #fff; border-left: 1px solid #dbeef2; border-top: 1px solid #dbeef2; border-right: 1px solid #dbeef2; border-bottom: 1px solid #dbeef2; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 20px 0 0;">
          <h1 style="margin: 0 0 20px; font-size: 28px; font-family: Helvetica, Arial, sans-serif; text-align: center; font-weight: normal; color: #343638;">Here's all you need to get started</h1>
          <a style="display: block; padding: 0 20px" href="http://monthlys.com/how-it-works" target="_blank">
            <img style="display: block;" src="http://monthlys.com/assets/marketing/newsletters/default/steps.png" alt="Choose a plan, pick your options, confirm and enjoy!" />
          </a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
