<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/daily_3" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="position: relative; width: 632px; height: 80px;background: url(https://monthlys.com/newsletters/daily_3/header.png); position: relative; margin: 0; margin-right: -26px;"></div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 560px; padding: 15px 30px 35px 30px; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2; margin: 0 0 10px; border-bottom: 1px solid #dbeef2; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">

          <h1 style="font-family: Arial, sans-serif; margin: 0; font-size: 32px; font-weight: normal; text-align: center;">Join the exclusive</h1>
          <h2 style="font-family: Arial, sans-serif; margin: 0; font-size: 32px; line-height: 40px; text-align: center;">Craft Beer of the Month Club</h2>
          <p style="font-family: Arial, sans-serif; margin: 0 0 20px; font-size: 24px; font-weight: normal; color: #a4a8a9; text-align: center;">by Hop Cast</p>

          <p style="margin: 0; font-family: Arial, sans-serif; font-size: 14px; color: #545454; padding: 0 60px; line-height: 22px; text-align: center;">
            <span style="background: url(https://monthlys.com/newsletters/daily_3/the_value.png) no-repeat 0 0; width: 74px; height: 14px; color: transparent; display: inline-block;">
              The Value
            </span>
            Get 12 different styles of craft beer from various breweries around the country for only $19.00 your first month.</p>
          <p style="margin: 0 0 20px; font-family: Arial, sans-serif; font-size: 14px; color: #545454; padding: 0 60px 20px 60px; line-height: 22px; text-align: center; border-bottom: 1px solid #ededed;">Pay $32.00 each following month* - shipping included.</p>

          <p style="margin: 0 0 20px; font-family: Arial, sans-serif; font-size: 14px; color: #545454; padding: 0 60px; line-height: 42px; text-align: center;">
            Use
            <strong>Coupon code</strong>
            <span style="background: url(https://monthlys.com/newsletters/daily_3/coupon_bg.png) no-repeat 0 0; width: 180px; height: 42px; color: transparent; display: inline-block; color: #72ba00; font-weight:bold; text-align: center;">
              CRAFTBEER19
            </span>
          </p>

          <h3 style="margin: 0 0 20px; font-family: Arial, sans-serif; text-align: center; font-size: 22px; font-weight: normal;">Try it for <strong style="font-size: 36px; position: relative; top: 5px; color: #0273dc;">$19.00</strong> your first month</h3>

          <div style="text-align: center; margin-bottom: 25px;">
            <a href="http://monthlys.com/plans/233"><img src="https://monthlys.com/newsletters/daily_3/buynow.png"></a>
            <a href="http://monthlys.com/plans/233"><img src="https://monthlys.com/newsletters/daily_3/gift.png"></a>
          </div>

          <p style="margin: 0 0 10px; text-align: center; font-family: Arial, sans-serif; font-size: 14px; color: #a4a6a8;"><span style="background: url(https://monthlys.com/newsletters/daily_3/truck.png) no-repeat 0 1px; padding-left: 27px;">Subscribe by July 15th to receive the next shipment</span></p>
          <p style="margin: 0 0 20px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; color: #a4a6a8;">* Price applies to a 12 month subscription. See other plans for pricing details.</p>

          <a style="margin: 0 0 10px; display: block; text-align: center;" href="http://monthlys.com/plans/233" target="_blank"><img src="https://monthlys.com/newsletters/daily_3/main.png" /></a>

        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="text-align: center; width: 620px; background: #fff; border-left: 1px solid #dbeef2; border-top: 1px solid #dbeef2; border-right: 1px solid #dbeef2; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 20px 0 0;">

          <table style="border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; margin-bottom: 20px;">
            <tr valign="top">
              <td>
                <p style="font-family: Arial, sans-serif; font-size: 14px; margin: 0 0 15px; font-weight: bold;"><a style="text-decoration: none; color: #0273dc" href="http://hop-cast.com/" target="_blank">About hop-cast.com</a></p>
                <a href="http://hop-cast.com/" target="_blank"><img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/daily_3/about.png" /></a>
                <p style="margin: 0; font-family: Arial, sans-serif; font-size: 12px; color: #545454; padding: 0 30px">Two hosts share their love of craft beer with the world.</p>
              </td>
              <td>
                <p style="font-family: Arial, sans-serif; font-size: 14px; margin: 0 0 15px; font-weight: bold;">Curated Goods</p>
                <a href="http://monthlys.com/user_preferences" target="_blank"><img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/daily_3/curated.png" /></a>
                <p style="margin: 0; font-family: Arial, sans-serif; font-size: 12px; color: #545454; padding: 0 30px">Get more curated cool stuff like this by setting your preferences.</p>
              </td>
              <td>
                <p style="font-family: Arial, sans-serif; font-size: 14px; margin: 0 0 15px; font-weight: bold;">
                  <a style="text-decoration: none; color: #0273dc" href="http://monthlys.com/friends/new" target="_blank">Get $5.00 on us!</a>
                </p>
                <a href="http://monthlys.com/friends/new" target="_blank"><img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/daily_3/coupon.png" /></a>
                <p style="margin: 0; font-family: Arial, sans-serif; font-size: 12px; color: #545454; padding: 0 30px">Tell your friends about Monthlys and get $5 in credit on us.</p>
              </td>
            </tr>
          </table>

          <h1 style="margin: 0 0 20px; font-size: 28px; font-family: Helvetica, Arial, sans-serif; text-align: center; font-weight: normal; color: #343638;">Here's all you need to get started:</h1>
          <a style="display: block; padding: 0 20px" href="http://monthlys.com/how-it-works" target="_blank"><img style="display: block;" src="https://monthlys.com/newsletters/daily_3/steps.png" /></a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; border-top: 1px solid #ededed; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 16px; font-weight: normal;">Stay in touch with us to get the latest news and discounts.</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
              <td>
                <a href="http://www.pinterest.com/monthlys" target="_blank" style="position: relative; top: -1px; display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_pinterest.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
