<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/fathers_day" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="position: relative; width: 329px; height: 120px; padding: 327px 0 0 307px; background: url(https://monthlys.com/newsletters/fathers_day/header.png); position: relative; margin: 0; margin-right: -26px;">
          <p style="font-family: Arial, sans-serif; font-size: 13px; color: #aca576;">Promo Code: <strong style="position: relative; left: 4px; font-weight: bold; color: #545454; font-size: 16px;">DAD15OFF</strong></p>
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 560px; padding: 15px 30px 35px 30px; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <p style="font-size: 26px; margin: 20px 0 10px; color: #343638; text-align: center; font-family: Arial, sans-serif;">Take a look at these gift ideas...</p>
        </div>
      </td>
    </tr>
    <!-- plans -->
    <tr>
      <td>
        <div style="width: 560px; padding: 0 30px 35px; margin: 0 0 10px; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">

            <tr valign="top">
              <td width="50%" colspan="3">

                <a href="http://monthlys.com/plans/146" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 521px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan146.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Bourbon, Single Malt Whiskey or Vodka Clubs</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$20.00 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant90.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%" colspan="3">

                <a href="http://monthlys.com/plans/178" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 521px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan178.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">California Dreamin' Wine Club</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$197.97 every 3 months</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant117.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
            </tr>
            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/69" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan69.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">One New Book</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$12.99 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant46.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/29" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan29.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">The Passport: Coffee from Around the World</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$25.00 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant25.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/129" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan129.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">The Man Cave Candle</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$16.95 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant78.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/32" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan32.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">All-Natural Premium Loose Leaf Tea</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$20.00 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant15.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/56" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan56.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Sensational Barbecue Sauces</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$13.44 /month</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant37.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/16" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/fathers_day/plan16.png" />
                    <table>
                      <tr valign="top">
                        <td width="100%">
                          <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Bloomberg Business Week and Forbes</p>
                          <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">$32.00 every 3 months</p>
                        </td>
                        <td>
                          <img src="https://monthlys.com/newsletters/fathers_day/merchant9.png" width="64" />
                        </td>
                      </tr>
                    </table>
                  </div>
                </a>

              </td>
            </tr>
            
          </table>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="text-align: center; width: 620px; background: #fff; border-left: 1px solid #dbeef2; border-top: 1px solid #dbeef2; border-right: 1px solid #dbeef2; border-bottom: 1px solid #dbeef2; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 20px 0 0;">
          <h1 style="margin: 0 0 20px; font-size: 28px; font-family: Helvetica, Arial, sans-serif; text-align: center; font-weight: normal; color: #343638;">Here's all you need to get started</h1>
          <a href="http://monthlys.com" target="_blank"><img src="https://monthlys.com/newsletters/fathers_day/steps.png" /></a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; border-top: 1px solid #ededed; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get the latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
