<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/grand_opening/<%= @user.id %>" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 636px; height: 87px; background: url(https://monthlys.com/newsletters/grand_opening/header.png); position: relative; margin-right: -14px;">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://monthlys.com/" target="_blank" style="display: block;">
          <img src="https://monthlys.com/newsletters/grand_opening/main.png" alt="We have a FREE GIFT for you" style="display: block;" />
        </a>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 590px; padding: 20px 0 0 30px; margin-bottom: 10px; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <a href="http://monthlys.com/" target="_blank" style="text-decoration: none;">
            <h1 style="font-size: 16px; color: #535353; margin: 0 0 10px; font-family: Arial, sans-serif; font-weight: bold;">Hey <%= @user.email %></h1>
            <p style="font-size: 14px; font-family: Arial, sans-serif; line-height: 20px; color: #535353; margin: 0 0 10px;">Team Monthlys has gifted to you $15.00 of Monthlys credits on your first purchase on Dog Food!</p>
            <p style="font-size: 12px; font-family: Arial, sans-serif; line-height: 20px; color: #535353; margin: 0 0 20px;">Monthlys is the best way to discover and manage monthly subscriptions in your area. <b>Get better quality. Save time and money</b></p>
            <img style="display: block;
            width: 337px; margin: 0 auto 20px;" src="https://monthlys.com/newsletters/grand_opening/cta.png" alt="Redeem your gift" />
          </a>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="width: 620px; padding: 0; margin: 0; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2; text-align: center;">
          <h1 style="margin: 0; padding: 30px 0; font-family: Arial, sans-serif; font-size: 26px; font-weight: normal;">Also, here's all you need to get started...</h1>
          <a href="http://monthlys.com" target="_blank"><img src="https://monthlys.com/newsletters/grand_opening/steps.png" /></a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
