<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 634px; height: 87px; background: url(https://monthlys.com/newsletters/demand_aggregator_plan_available/header.png); position: relative;">
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 560px; padding: 30px; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr valign="top">
              <td>
                <h1 style="color: #343638; padding: 10px 0 0; margin: 0 0 20px; font-size: 28px; font-weight: normal; font-family: Arial, sans-serif;">Good news.<br/>Francesco</h1>
                <p style="color: #7e7e7e; margin: 0 0 20px; font-family: Arial, sans-serif; font-size: 16px; line-height: 30px;"><b>A disc a week</b> from <b>Roadrunner Records</b> is now available in <b>Chicago</b></p>
                <a href="#">
                  <img src="https://monthlys.com/newsletters/demand_aggregator_plan_available/check_it_out.png" />
                </a>
              </td>
              <td>
                <div style="border: 1px solid #cacaca; border-radius: 3px; width: 278px; padding: 15px; margin: 0 0 0 20px;">
                  <a href="#" style="display: block; width: 278px; height: 207px; background: url(plan_image) center center; margin-bottom: 10px;">
                    <img style="display: block;" src="https://monthlys.com/newsletters/demand_aggregator_plan_available/plan_frame.png" />
                  </a>
                  <a style="display: block; padding: 0 5px; margin: 0 0 7px; font-family: Arial, sans-serif; text-decoration: none; color: #383532; font-weight: bold;" href="#">Pedigree Little Champions</a>
                  <p style="color: #bcbcbc; padding: 0 5px; margin: 0; font-size: 14px; font-family: Arial, sans-serif;">from <b style="font-weight: normal; color: #94693f;">$12.00</b> monthly</p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="width: 520px; padding: 30px 50px; margin: 0; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">

          <table cellspacing="0" cellpadding="0">
            <tr valign="middle">
              <td>
                <img style="margin: 0 40px 0 0;" src="https://monthlys.com/newsletters/demand_aggregator_plan_available/pin_stack.png" />
              </td>
              <td>
                <h1 style="font-size: 20px; font-weight: normal; font-family: Arial, sans-serif; line-height: 25px;">Set your preferences and get the best deals first hand in your inbox.</h1>
                <a href="#"><img src="https://monthlys.com/newsletters/demand_aggregator_plan_available/goto_my_preferences.png" /></a>
              </td>
            </tr>
          </table>

        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get latest news and discounts</h3>
              </td>
              <td>
                <a href="" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
              <!--<td>
                <a href="" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/15_off_tumblr.png" /></a>
              </td>-->
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
    <!-- sent from -->
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #808182; margin: 20px 0; text-align: center; text-shadow: 0 1px 0 #fff;">Sent from <b>Monthlys HQ</b> in Chicago, IL, USA. All rights reserved.</p>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #808182; margin: 0; text-align: center; text-shadow: 0 1px 0 #fff;">Don't want to receive these emails anymore? Manage your <a href="" style="color: #0273dc; text-decoration: none;">email preferences</a> here, or <a href="" style="color: #0273dc; text-decoration: none;">unsubscribe</a>.</p>
      </td>
    </tr>
  </table>
</div>