<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/new_merchant/<%= @user.id %>" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 635px; height: 76px; background: url(https://monthlys.com/newsletters/new_merchant/header.png); position: relative;">
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 590px; padding: 10px 0 0 30px; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr valign="top">
              <td>
                <h1 style="color: #343638; padding: 40px 0 0; margin: 0 0 20px; font-size: 28px; font-weight: normal; font-family: Arial, sans-serif;">Thanks for listing your business on Monthlys.</h1>
                <p style="color: #7e7e7e; margin: 0 0 20px; font-family: Arial, sans-serif; font-size: 16px; line-height: 30px;">We will notify you by email when your account is approved.</p>
                <a href="http://monthlys.com/how-it-works">
                  <img src="https://monthlys.com/newsletters/new_merchant/how_it_works.png" />
                </a>
              </td>
              <td>
                <a href="http://monthlys.com" target="_blank"><img style="margin: 0 0 0 25px;" src="https://monthlys.com/newsletters/new_merchant/site_snapshot.png" /></a>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <!--
    <tr>
      <td>
        <div style="width: 560px; padding: 0 30px 30px; margin: 0; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <h1 style="margin: 0 0 20px; padding: 30px 0 0; font-family: Arial, sans-serif; font-size: 26px; font-weight: normal;">How can we help you?</h1>
          <p style="font-size: 14px; margin: 0; padding: 0; line-height: 22px; color: #7e7e7e; font-family: Arial, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </td>
    </tr>
    -->
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>