<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/new_user_set_preferences/<%= @user.id %>" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <div style="width: 622px; height: 61px; background: url(https://monthlys.com/newsletters/new_user_set_preferences/header.png); position: relative;">
        </div>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <div style="width: 590px; padding: 0 0 0 30px; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr valign="top">
              <td>
                <h1 style="color: #343638; padding: 40px 0 0; margin: 0 0 20px; font-size: 28px; font-weight: normal; font-family: Arial, sans-serif;">Welcome!</h1>
                <p style="color: #757575; margin: 0 0 20px; font-size: 16px; font-weight: bold; line-height: 24px; font-family: Arial, sans-serif;">Thank you for creating a Monthlys account.</p>
                <p style="color: #7e7e7e; margin: 0 0 20px; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px;">Let us know what you'd like to "subscriptionize" and we'll curate awesome subscriptions for you. Or, visit Monthlys and see if there's already the perfect subscription for you.</p>
                <a href="http://monthlys.com/user_preferences">
                  <img src="https://monthlys.com/newsletters/new_user_set_preferences/set_your_preferences.png" />
                </a>
              </td>
              <td>
                <a href="http://monthlys.com" target="_blank"><img style="margin: 0 0 0 25px;" src="https://monthlys.com/newsletters/new_user_set_preferences/site_snapshot.png" /></a>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="width: 620px; padding: 0; margin: 0; background: #fff; border-bottom: 1px solid #dbeef2; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2; text-align: center;">
          <h1 style="margin: 0; padding: 30px 0; font-family: Arial, sans-serif; font-size: 26px; font-weight: normal;">Also, here's all you need to get started...</h1>
          <a href="http://monthlys.com" target="_blank"><img src="https://monthlys.com/newsletters/new_user_set_preferences/steps.png" /></a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us! Get latest news and discounts</h3>
              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
