<div style="width: 100%; padding: 0 0 100px; background: #e5f3f6;">
  <table style="width: 622px; margin: auto;" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #dbc1c7; margin: 30px 0 20px; text-align: center; text-shadow: 0 1px 0 #fff;">Having trouble reading this? <a style="font-weight: bold; color: #dbc1c7; text-decoration: none;" href="http://monthlys.com/mail/welcome_channel_leads" target="_blank">View it in your browser</a></p>
      </td>
    </tr>
    <!-- header -->
    <tr>
      <td>
        <a href="http://monthlys.com" target="_blank"><div style="width: 622px; height: 61px; background: url(https://monthlys.com/newsletters/welcome_channel_leads/header.png);">
        </div></a>
      </td>
    </tr>
    <!-- hey {user} -->
    <tr>
      <td>
        <a href="http://monthlys.com" target="_blank"><div style="width: 622px; height: 386px; background: url(https://monthlys.com/newsletters/welcome_channel_leads/main.png);">
        </div></a>
      </td>
    </tr>
    <!-- featured -->
    <tr>
      <td>
        <div style="width: 560px; padding: 0 30px 25px; background: #fff; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <h1 style="font-weight: normal; font-size: 26px; padding: 30px 0 0; margin: 0 0 20px; color: #343638; text-align: center; font-family: Arial, sans-serif;">Subscriptions you might be interested in...</h1>


          <a href="http://monthlys.com/plans/32" target="_blank" style="text-decoration: none; margin: 0 0 20px; display: block;">
            <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px;">
              <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/featured_subscriptions_3.png" />
              <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Tiesta Tea</p>
              <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">All-Natural Premium Loose Leaf Tea</p>
              <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $20.00 /month</p>
            </div>
          </a>


          <a href="http://monthlys.com/plans/102" target="_blank" style="text-decoration: none; margin: 0 0 20px; display: block;">
            <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px;">
              <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/featured_subscriptions_2.png" />
              <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Mama's Nuts</p>
              <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Mama's Monthly Batch</p>
              <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $10.00 /month</p>
            </div>
          </a>


          <a href="http://monthlys.com/plans/146" target="_blank" style="text-decoration: none; margin: 0 0 20px; display: block;">
            <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px;">
              <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/featured_subscriptions_1.png" />
              <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">The Whisky Place</p>
              <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Bourbon, Single Malt Whiskey or Vodka Clubs</p>
              <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $20.00 /month</p>
            </div>
          </a>


        </div>
      </td>
    </tr>
    <!-- plans -->
    <tr>
      <td>
        <div style="width: 560px; padding: 0 30px 10px; margin: 0 0 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background: #fff; border-left: 1px solid #dbeef2; border-bottom: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/28" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_01.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Dog-a-holics</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Bakery Treat Box</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $14.99 /month</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/105" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_02.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">KLUTCHclub</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Expert-Curated Health Products</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $16.50 /month</p>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/84" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_16.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">BabbaCo</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Babbabox</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $24.99 /month</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/106" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_04.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Keystone Candle Company</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Scented Candles</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $6.50 every 3 months</p>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/95" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_05.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">SallyeAnder Soaps</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Soap of the Month Club</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $12.95 /month</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/69" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_06.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Just the Right Book</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">One New Book</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $12.99 /month</p>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/120" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_07.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Imperial Mobile Car Wash, Inc.</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">In-Home Car Cleaning Services</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $10.00 /month</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/56" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_08.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Two Fat Guys Gourmet Sauces</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Sensational Barbecue Sauces</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $13.44 /month</p>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/80" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_09.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Razors Direct</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Quality Shaving Supplies</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $13.49 every 3 months</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/22" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_14.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Chicago Flower Company</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Orchid Club</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $30.00 /month</p>
                  </div>
                </a>

              </td>
            </tr>

            <tr valign="top">
              <td width="50%">

                <a href="http://monthlys.com/plans/113" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_15.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Organic Argan Oil</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Quarterly Subscription</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $32.00 every 3 months</p>
                  </div>
                </a>

              </td>
              <td><div style="width: 24px"></td>
              <td width="50%">

                <a href="http://monthlys.com/plans/29" target="_blank" style="text-decoration: none;">
                  <div style="border: 1px solid #e5e5e5; border-radius: 2px; padding: 19px; width: 228px; float: left; margin: 0 0 20px;">
                    <img style="margin: 0 0 10px;" src="https://monthlys.com/newsletters/welcome_channel_leads/subscription_13.png" />
                    <p style="font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 5px; color: #343638;font-family: Arial, sans-serif;">Peter Asher Coffee and Tea</p>
                    <p style="margin: 0 0 5px; font-size: 14px; color: #0273dc; font-family: Arial, sans-serif; font-weight: bold;">Coffee from Around the World</p>
                    <p style="margin: 0; font-size: 12px; color: #757575; font-family: Arial, sans-serif; line-height: 18px;">Starting at $25.00 /month</p>
                  </div>
                </a>

              </td>
            </tr>

          </table>
        </div>
      </td>
    </tr>
    <!-- all you need -->
    <tr>
      <td>
        <div style="text-align: center; width: 620px; background: #fff; border-left: 1px solid #dbeef2; border-top: 1px solid #dbeef2; border-right: 1px solid #dbeef2; border-bottom: 1px solid #dbeef2; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 20px 0 0;">
          <h1 style="margin: 0 0 20px; font-size: 28px; font-family: Helvetica, Arial, sans-serif; text-align: center; font-weight: normal; color: #343638;">Here is all you need to get started</h1>
          <a href="http://monthlys.com" target="_blank"><img src="https://monthlys.com/newsletters/welcome_channel_leads/steps.png" /></a>
        </div>
      </td>
    </tr>
    <!-- footer -->
    <tr>
      <td>
        <div style="width: 560px; border-top: 1px solid #ededed; padding: 35px 30px 28px; background: #f8fafb; border-left: 1px solid #dbeef2; border-right: 1px solid #dbeef2;">
          <table cellpadding="0" cellspacing="0">
            <tr valign="middle">
              <td width="100%">
                <h3 style="padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; color: #343638; font-size: 18px; font-weight: normal;">Stay in touch with us and get latest news and discounts!</h3>

              </td>
              <td>
                <a href="http://twitter.com/monthlysinc" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_twitter.png" /></a>
              </td>
              <td>
                <a href="http://www.facebook.com/pages/Monthlys/166280233483003" target="_blank" style="display: block; padding-left: 10px;"><img src="https://monthlys.com/newsletters/footer_facebook.png" /></a>
              </td>
            </tr>
          </table>
        </div>
        <img style="display: block;" src="https://monthlys.com/newsletters/footer.png" />
      </td>
    </tr>
  </table>
</div>
