<section class="header_promo fathers_day">
  <style>
    header.main { margin-top: -32px; }
    body { background-position: left 28px; }
  </style>
  <div class="wrapper">
    <%= link_to 'Dismiss', '#', class: 'dismiss' %>
    <div class="hanging-coupons"></div>
    <%= link_to new_friend_path, class: 'invite-text' do %>
      <span>Celebrate Father's Day and get $5 Subscription Credit!</span>
    <% end %>
  </div>
</section>
