<script type="text/javascript" src="/assets/admin/highcharts.js"></script>

<%= high_chart("users_subscribers", @users_subscribers) %>
<div id="users_subscribers" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<%#= high_chart("subscribers_merchants", @subscribers_merchants) %>
<%# <div id="subscribers_merchants" style="min-width: 400px; height: 400px; margin: 0 auto"></div>%>
