<script type="text/javascript" src="/assets/admin/highcharts.js"></script>

<%= high_chart("subscribers", @subscribers) %>
<div id="subscribers" style="max-width: 100%; width: 500px; height: 300px;"></div>

<%= high_chart("plans_chart", @plans_chart) %>
<div id="plans_chart" style="width: 500px; height: 300px;"></div>
