<h1>We give you the tools to easily collect and fulfill orders and most importantly - get paid.</h1>
<%= image_tag('content/how.png', :alt => "How") %>

<div class="info">
  <p><strong>Simply log into monthlys.com and enter a few quick details about your business.</strong></p>
  <p class="last">In a few minutes, you’ll have a custom subscription page you can send to all your loyal fans.</p>
  <%= link_to "Next: Why Monthlys", "#", :rel => "why", :class => "next next-btn tab-activator" %>
</div>