<h1>Monthlys makes it easy for you to offer your product or service on a subscription basis.</h1>
<%= image_tag('content/what.png', :alt => "What") %>

<div class="info">
  <p><strong>We work with the best local businesses to give customers what they want on a recurring basis helping to simplify their lives.</strong></p>
  <p class="last">Don’t worry if you’re not set up as a subscription business, we make it easy. And if you’re already offering subscriptions, we’ll help you grow.  And put that wallet away. Because we only get paid when we deliver you a paying customer.</p>
  <%= link_to "Next: How it Works", "#", :rel => "how", :class => "next next-btn tab-activator" %>
</div>

