<h1>Monthlys is free to join. You control your pricing and discounts.</h1>
<%= image_tag('content/why.png', :alt => "Why") %>

<div class="info">
  <p><strong>A quick and easy way to add a subscription model to your existing revenue base</strong></p>
  <ul class="last bullets">
    <li>Increase revenue quickly by marketing to the Monthlys' growing database of consumers</li><br />
    <li>Manage your cash flow more effectively by adding a predictable stream of monthly revenue</li><br />
    <li>Reduce downtime by strategically managing monthly order flow</li>
  </ul>
  <strong class="next">Call Us: 312-999-5857</strong>
</div>
