<% content_for(:title) { 'About' } %>

<div class="sidebar">
  <%= render :partial => "pages/navigation" %>
</div>
<article class="content">
  <div class="banner">
    <%= image_tag "content/about/monthlys-vans.png" %>
  </div>
  <hgroup>
    <h1>So you are probably asking yourself, "What is Monthlys?"</h1>
    <h2>Monthlys makes your month easy.</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>Imagine a place where you can turn on your lawn service with a switch, have fresh products delivered to your door each week, and temporarily turn off your gym membership without a hassle.</p>
      <p>Wait, you don't have to dream up this wonderland.<br />The Monthlys Team already did it! It's the go-to place for those products and services you use every month.</p>
      <p>Our vision is a one-stop marketplace for you. It's a place for you to discover new subscriptions and memberships that will make your life enjoyable and convenient. Your favorite bakery down the street (the one that closes right before you get off work) well now it delivers right to your doorstep. It's the local business we love to use, but just dont have time to visit. Or the products and services you never heard of, but suddenly cannot imagine living without.</p>
    </div>
    <div class="column">
      <p>It's entertaining kids with piano lessons or creating your own one-of-a-kind floral arrangements from freshly-cut flower kits. Monthlys works to keep managing the household, the family and outside activities as easy as pie (Yes, that delicious, homemade bakery pie you had delivered last week).</p>
      <p>We are making life's necessities and luxuries easy to fulfill, so you actually have time to do what you want to do. Because really, what good is having it all, if you can't enjoy it anyway?</p>
      <div class="graphic">
        <%= image_tag "content/about/cell-in-hand.png" %>
      </div>
    </div>
  </div>
</article>
