<% content_for(:title) { 'Affiliate Program' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<div class="content">
  <hgroup>
    <h1>Affiliate Program</h1>
  </hgroup>

  <p>
    Would you like to promote and sell Monthlys products and subscription services through your own website and earn a 4% commision per sale and $0.50 per lead? Join our affiliate program and begin selling today!
  </p>

  <p>
    <strong>What is an Affiliate Program and how does it work?</strong> The Affiliate Program is a service for participating websites to earn commission on sales they refer to Monthlys.com using specially tracked links. We provide you with custom links and banners that you can post on your website. When a visitor you've referred to our website visits us and makes a purchase we'll keep track and give you a commission on the sale.
  </p>

  <p style="margin-bottom: 0;">
    <strong>Here's how it works:</strong>
  </p>

  <ul>
    <li>You place our links (banners, text links, or direct product links) on your website.</li>
    <li>A customer comes to your website and clicks on one of the Monthlys.com links or banners.</li>
    <li>The customer places and order with us and you earn a commission on the sale!</li>
  </ul>

  <p style="margin-bottom: 0;">
    <strong>Affiliate Program Details:</strong>
  </p>

  <ul>
    <li>Earn 4% commission on all Sales.</li>
    <li>Get $0.50 commission per Lead.</li>
    <li>We offer two-tiered commission.</li>
    <li>60-Day Cookie Tracking</li>
    <li>We provide professional eye-catching banners and text links.</li>
    <li>Professional Affiliate Management - prompt answers to your questions.</li>
  </ul>

  <p>It's simple and free to join our affiliate program. Join today by signing up for our ShareASale Affiliate Program so you can start earning a commission on all orders and subscriptions you send to Monthlys. Please contact us with any questions about the program at <a href="mailto:affiliates@monthlys.com">affiliates@monthlys.com</a>.</p>

  <p style="text-align: center;"><%= link_to 'http://www.shareasale.com/shareasale.cfm?merchantID=40596' do image_tag 'shareasalesignupbutton.gif' end %></p>

</div>
