<section class="sub-header">
  <ul>
    <li>
      <img src="assets/deals/m-badge.png">
    </li>

    <li class="tabs" id="tab1">
      show me
    </li>
    <li class="tabs">
      <p class="pink">special prices</p>
    </li>
    <li class="tabs">
      <%= link_to 'everything', filtered_plans_path(filter: { discover: :everything }) %>
    </li>
    <li>
      <img src="assets/deals/local-box.png">
    </li>
    <li class="value-prop">
      <h5>save time &amp; shop locally</h5>
      <p>get fresh local goods delivered on
      a recurring basis with Subscribe and Save</p>
    </li>
    <li>
      <img src="assets/deals/m-money.png">
    </li>
    <li class="value-prop">
      <h5>save money</h5>
      <p>save money when you consistently buy recurring products and services</p>
    </li>
  </ul>
</section>


<section class="deals">
  <section class="big-highlights">
    <ul>
      <li>
        <h4>featured</h4>
        <a href="#tab1">
          <p class="title">craft beer</p>
          <p class="subtitle">exclusive craft beer from elite microbreweries.</p>
        </a>
      </li>

      <li>
        <a href="#tab2">
          <p class="title">valet services</p>
          <p class="subtitle">innovative at-home services that come to you.</p>
        </a>
      </li>

      <li>
        <a href="#tab3">
          <p class="title">special pet treats</p>
          <p class="subtitle">curated bakery treats for dog-a-holics.</p>
        </a>
      </li>

      <li>
        <a href="#tab4">
          <p class="title">superfoods</p>
          <p class="subtitle">fantastic superfood from YogaEarth.</p>
        </a>
      </li>
      <li>
        <a href="#tab5">
          <p class="title">sweet &amp; delicious</p>
          <p class="subtitle">seasonal caramels from Sea + Cane Sweets.</p>
        </a>
      </li>
    </ul>

    <hr>
    <section id="tab1" class="featured">
      <a href="#" class="video-box" data-video-url="https://www.youtube.com/watch?v=RXpgBnCUFOU">
        <img src="assets/deals/big-highlights/craftbeer.png" alt=''>
      </a>

      <h1>buy 3 months<br> and <span class="hl">save 15%</span></h1>
      <p class="subheading">buy 1 month supply for $19.00</p>

      <p class="pitch">Try exclusive beers you might not be able to find near you, only on monthlys.com. Subscribe and save even more.</p>

      <a href="/plans/craft-beer-of-the-month-club" class="btn tertiary">View Details</a>



      <footer>
        <img src="assets/deals/logos/hopcast.png">
        <p class="title">Hop Cast joins Monthlys!</p>
        <p>Chicago's beer gurus are curating on Monthlys.</p>
      </footer>
    </section>

    <hr>

    <section id="tab2">
      <a href="#" class="video-box" data-video-url="https://www.youtube.com/watch?v=s3NgDniYSjs">
        <img src="assets/deals/big-highlights/laundry.png" alt=''>
      </a>

      <h1><span class="hl">half-off</span> your first month!</h1>
      <p class="subheading">click buy and find promo code</p>

      <p class="pitch">Up to 100 pounds of laundry washed and folded in up to two pickup/delivery installments.</p>

      <a href="/plans/wash-n-fold-laundry-valet" class="btn tertiary">View Details</a>

      <footer>
        <img src="assets/deals/logos/washnfold.png">
        <p class="title">The Laundry Bag now on Monthlys!</p>
        <p>Simple and convenient laundry valet.</p>
      </footer>
    </section>

    <hr>

    <section id="tab3">
      <a href="#" class="video-box" data-video-url="https://www.youtube.com/watch?v=Dm5hAGsjVAQ">
        <img src="assets/deals/big-highlights/dog.png" alt=''>
      </a>

      <h1> <span class="hl">save 35%</span> your first month</h1>
      <p class="subheading">use promo code TREAT35</p>

      <p class="pitch">Handmade and healthy treats fresh from the bakery case.</p>

      <a href="/plans/bakery-treat-box" class="btn tertiary">View Details</a>

      <br /><br /><br /><br />
      <footer>
        <img src="assets/deals/logos/dogaholics.png">
        <p class="title">Dog-a-holics joins Monthlys!</p>
        <p>Keep your best friend happy.</p>
      </footer>
    </section>

    <hr>

    <section id="tab4">
      <h1><span class="hl">save 30%</span> your first month</h1>
      <p class="subheading">use promo code YOGEA30</p>

      <p class="pitch">Organic superfood at an amazingly affordable price.</p>

      <a href="/plans/superfoods-eco-pack" class="btn tertiary">View Details</a>

      <img src="assets/deals/big-highlights/yoga.png">
      <br />
      <footer>
        <img src="assets/deals/logos/yoga.png">
        <p class="title">We welcome YogaEarth!</p>
        <p>Embodying the best in nutrition, yoga, and eco-design.</p>
      </footer>
    </section>

    <hr>

    <section id="tab5">
      <h1>get your first month <span class="hl">for $4.00</span></h1>
      <p class="subheading">use promo code SEA60</p>

      <p class="pitch">Seasonal caramels made in small batches.</p>

      <a href="/plans/seasonal-sea-salt-caramel-of-the-month" class="btn tertiary">View Details</a>

      <img src="assets/deals/big-highlights/seacane.png">
      <br /><br />
      <footer>
        <img src="assets/deals/logos/seacane.png">
        <p class="title">Now on Monthlys!</p>
        <p>Continuing Chicago's long and proud tradition of candy making.</p>
      </footer>
    </section>

  </section>

  <hr>

  <section class="single-highlight with-nav">

    <nav>
      <p>view:</p>
      <ul>
        <li><a href="/plans/fresh-fruit-of-the-month-club">fresh fruit delivery</a></li>
        <li><a href="/plans/fruit-leathers">fruit leathers</a></li>
        <li><a href="/plans/mama-s-monthly-batch">confectioners nuts</a></li>
        <li><a href="/plans/seasonal-sea-salt-caramel-of-the-month">sweet caramel</a></li>
        <li><a href="/plans/jelly-and-relish-duo">relish and jelly</a></li>
      </ul>
    </nav>
    <h1>save up to 30%</h1>
    <p class="subheading">on farmers market home delivery</p>
    <p>Your local farms now deliver direct to your doorstep. Never
       miss out on healthy, locally grown eats.</p>
    <a href="/categories/44" class="btn tertiary">view plans</a>


    <img src="assets/deals/02-farmers-market.jpg" alt="">

  </section>

  <hr>

  <section class="small-highlights">
    <p class="pink">special prices</p>
      <h1>deals and coupons</h1>
      <p class="subheading">easy summertime savings</p>

      <ul class="items">
        <li>
          <a href="/plans/102">
            <img src="assets/deals/t1-nuts.jpg" alt="">
            <p class="title">Confectioner’s Nuts</p>
            <p class="description">Save $2.50</p>
          </a>
        </li>
        <li>
          <a href="/plans/32">
            <img src="assets/deals/t2-tea.jpg" alt="">
            <p class="title">Exotic Iced Teas</p>
            <p class="description">Save 35%</p>
          </a>
        </li>
        <li>
          <a href="/plans/95">
            <img src="assets/deals/t3-soap.jpg" alt="">
            <p class="title">Handmade Soap</p>
            <p class="description">Save 35%</p>
          </a>
        </li>
        <li>
          <a href="/plans/80">
            <img src="assets/deals/t4-razor.jpg" alt="">
            <p class="title">Shaving Supplies</p>
            <p class="description">Save 25%</p>
          </a>
        </li>
        <li>
          <a href="/plans/62">
            <img src="assets/deals/t5-coffee.jpg" alt="">
            <p class="title">Imported Coffee</p>
            <p class="description">Save 40%</p>
          </a>
        </li>
        <li>
          <a href="/plans/23">
            <img src="assets/deals/t6-cupcakes.jpg" alt="">
            <p class="title">Delightful Cupcakes</p>
            <p class="description">Save 25%</p>
         </a>
        </li>
        <li>
   <a href="/plans/166">
            <img src="assets/deals/t7-meats.jpg" alt="">
            <p class="title">Deli Meats</p>
            <p class="description">Take $10 Off</p>
          </a>
        </li>
        <li>
   <a href="/plans/199">
            <img src="assets/deals/t8-flowers.jpg" alt="">
            <p class="title">Seasonal Flowers</p>
            <p class="description">Save 25%</p>
          </a>
        </li>
        <li>
   <a href="/plans/194">
            <img src="assets/deals/t9-beer.jpg" alt="">
            <p class="title">Craft Beer</p>
            <p class="description">Save 25%</p>
          </a>
        </li>
        <li>
   <a href="/plans/197">
            <img src="assets/deals/t10-cigars.jpg" alt="">
            <p class="title">Richly Flavored Cigars</p>
            <p class="description">Save $10.95</p>
          </a>
        </li>

   </ul>
  </section>

    <hr>

    <section class="single-highlight">
      <h1>great ideas...</h1>
      <p class="subheading">for a healthy summer lifestyle.</p>
      <p>Try out Juice RX's juice cleanse system. <br />Get it Monthly
        and save.</p>
      <a href="/plans/1-day-cleanse" class="btn tertiary">View Details</a>

      <img src="assets/deals/03-juice-rx.jpg" alt="">

    </section>

    <hr>

    <section class="small-highlights">
      <p class="pink">incredibly innovative</p>
      <h1>at-home services</h1>
      <p class="subheading">&nbsp;</p>
      <ul class="items">
        <li>
          <a href="/plans/96">
            <img src="assets/deals/l1-dog-walking-service.jpg" alt="">
            <p class="title">Paws Across Chicago</p>
            <p class="description">Dog Walking Services</p>
          </a>
        </li>
        <li>
          <a href="/plans/139">
            <img src="assets/deals/l2-air-brush-tan.jpg" alt="">
            <p class="title">LA Tan</p>
            <p class="description">Sunless Tanning</p>
          </a>
        </li>
        <li>
          <a href="/plans/19">
            <img src="assets/deals/l3-maid-service.jpg" alt="">
            <p class="title">Happy Maids, Inc.</p>
            <p class="description">Home Cleaning Services</p>
          </a>
        </li>
        <li>
          <a href="/plans/118">
            <img src="assets/deals/l4-personal-training.jpg" alt="">
            <p class="title">In-Home Fitness</p>
            <p class="description">Save $10.00</p>
          </a>
        </li>
        <li>
          <a href="/plans/81">
            <img src="assets/deals/l5-laundry-service.jpg" alt="">
            <p class="title">The Laundry Bag</p>
            <p class="description">Laundry Valet</p>
          </a>
        </li>
        <li>
          <a href="/plans/67">
            <img src="assets/deals/l6-cooking.jpg" alt="">
            <p class="title">Chef Daniel</p>
            <p class="description">Gourmet Cooking Lessons</p>
          </a>
        </li>

        <li>
    <a href="/plans/143">
            <img src="assets/deals/l8-moksha.jpg" alt="">
            <p class="title">Moksha Yoga</p>
            <p class="description">Yoga Membership</p>
          </a>
        </li>
        <li>
  <a href="/plans/163">
            <img src="assets/deals/l9-cwebber.jpg" alt="">
            <p class="title">Christy Webber Landscapes</p>
            <p class="description">Lawn Maintenance</p>
          </a>
        </li>
        <li>
  <a href="/plans/206">
            <img src="assets/deals/t10-book.jpg" alt="">
            <p class="title">Just the Right Book</p>
            <p class="description">Book of the Month Clubs</p>
          </a>
        </li>
      </ul>
    </section>
</section>

<% content_for :javascript do %>
  <%= requirejs('pages/deals'); %>
<% end %>
