<% content_for(:title) { 'Guarantee' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<article class="content">
  <div class="banner">
    <%= image_tag "content/guarantee/nick.png" %>
  </div>
  <hgroup>
    <h1>We guarantee you’ll be happy, or your money back</h1>
    <h2>If you’re not happy, cancel any time. No questions asked.</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>Monthlys is confident it brings a unique offering to the lives of many. If you are not happy, cancel at anytime prior to delivery. We’ll pro-rate your refund, no questions asked. If you experience a problem with a delivery or service, please contact our customer support and we’ll take care of your dispute with the merchant.</p>

      <p><strong>Delivered Goods</strong><br />
      If you've been delivered a good or rendered a service you're not happy with, let us know and we'll handle the situation promptly and/or issue you a refund.</p>

      <p><strong>Customer Support</strong><br />
      We offer exceptional customer support. <a href="/contact">If you have any issues, please contact us immediately.</a></p>
    </div>
    <div class="column">

      <div class="graphic">
        <%= image_tag "content/guarantee/badge.png" %>
      </div>
    </div>
  </div>
</article>
