<% content_for(:title) { 'Jobs' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<article class="content">
  <div class="banner">
    <%= image_tag "content/jobs/desks.png" %>
  </div>
  <hgroup>
    <h1>Monthlys is disrupting; changing the game. We need you.</h1>
    <h2>Monthlys is growing, fast - from tech to biz dev. Consider it.</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>At Monthlys, we’re forever designing and engineering tools that liberate the lives of our members.</p>

      <p>Each day, we partake in making history, feel the thrill of growth and customer satisfaction.</p>

      <p><strong>Open Positions</strong><br />
      We’re on the lookout for a wide range of talent. Interested in learning more? Submit your resume and tell us why you think you might enjoy working at Monthlys.
      <ul>
        <li>Ruby on Rails Developer</li>
        <li>Front-end Developer</li>
        <li>Sales</li>
        <li>Marketing</li>
        <li>Film and Photography</li>
        <li>Administrative</li>
        <li>Accounting</li>
      </ul>
      <br />
      <br />
      Submit your app to: <a href="mailto:careers@monthlys.com?Subject=Monthlys-Job-Application">careers@monthlys.com</a>
      </p>
    </div>
    <div class="column">
      <p><strong>Tech and Design Culture</strong><br />
        Monthlys is a company rich with culture, founded by techies, artists and passionate entrepreneurs and held together by passion and trust. Our offices employ talent from all over the world. Monthlys offers a design and developer friendly atmosphere in which thought leadership, innovative thinking and entrepreneurial spirits are always welcome. </p>
        <p><strong>Business Development and Sales</strong><br />
          We offer many benefits to our Biz Dev Unit and Sales Team, including a variety of unique performance incentives, training and career opportunities. At Monthlys, our sales team is at the epicenter of a living, breathing business, which fuels itself by the personalities of our Biz Dev and Sales teams.</p>
      <div class="graphic">
        <%= image_tag "content/jobs/santi.png" %>
      </div>
    </div>
  </div>
</article>
