<% content_for(:title) { 'Quality' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<article class="content">
  <div class="banner">
    <%= image_tag "content/quality/island.png" %>
  </div>
  <hgroup>
    <h1>Monthlys promotes fair cost and quality</h1>
    <h2>Our partners are chosen based on their offering and attention to detail</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>Monthlys has the same appreciation for fair cost and quality that you do. As curators of local goods, services and memberships, it’s our goal to ensure you get a square trade when dealing with Monthlys merchants.</p>

      <p><strong>Zero Tolerance</strong><br />
      We have zero tolerance for poor customer service, inadequate product delivery and unfair treatment. If you experience a problem, we’d like to be the fist to know. We’ll handle each situation with urgency and respond right away. If you’ve experienced an issue or have general feedback, <a href="/contact">please let us know.</a></p>

      <p><strong>Quality Control</strong><br />
      We work closely with our merchants to ensure that quality products arrive at your door in quality packaging, and that services are rendered to the best of their ability. If you experience an issue with quality, we’ll rectify the situation immediately, no questions asked.</p>
    </div>
    <div class="column">

      <p><strong>Fair Cost</strong><br />
      Although Monthlys does not set pricing on behalf of its merchants, our decision to partner with merchants is based on an in depth review of each merchant's pricing structure, service model and offering. If you feel you’ve been delivered a subpar product or service for an unreasonable cost, <a href="/contact">we’d like to know</a>.  </p>

      <p><strong>Merchant Reviews</strong><br />
      Our merchant partners have positive reviews, are well-organized and are capable of satisfying Monthlys members. We look to first-hand experiences, word on the street, Yelp, the BBB and other credible sources when determining if a merchant is qualified to support the Monthlys customer base.</p>

      <div class="graphic">
        <%= image_tag "content/quality/people.png" %>
      </div>
    </div>
  </div>
</article>
