<% content_for(:title) { 'Terms & Conditions' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<div class="content">
  <hgroup>
    <h1>Terms &amp; Conditions</h1>
  </hgroup>

  <p><strong>User Agreement</strong></p>

  <p><strong>1. General terms and conditions</strong></p>

  <p>
    Monthlys Inc. ("Monthlys" or the “Company”) owns and operates a proprietary website, monthlys.com ("monthlys.com" or the "Site"). Monthlys contracts with third party merchant partners and other parties ("Merchants") to offer subscriptions, memberships, discounts, and rewards for their products and services (the “Offering”) to authorized members of the Site (each, a "User"). Monthlys may receive a commission when a User purchases an Offering from a Merchant through the Site. To ensure that you, as a Monthlys.com User and customer of Monthlys, fully understand what your rights are as a User, and what our responsibilities are to you, we have created this User Agreement (the "Agreement"). As a User of the Site, you agree that you have read, understood and agreed to the Agreement and consent to be bound by the Agreement, including any future amendments or updates thereto. If you do not agree with this Agreement, you are not permitted to use the Site.
  </p>

  <p>
    <strong>Site.</strong> This Agreement governs your use of all content, products or services available through the Site. You agree to be bound by this Agreement, and to use the Site in strict compliance with all applicable laws, rulings and regulations, and in a manner that does not negatively reflect on the goodwill or reputation of Monthlys or its third party partners.
  </p>

  <p>
    <strong>Age restriction.</strong> Minors (as defined under the laws of their jurisdiction or residence) are not eligible to register for, use or purchase the products or services available on the Site.
  </p>

  <p>
    <strong>The Sale of Alcoholic Beverages.</strong> Monthlys does not sell alcohol to persons under the age of 21. Monthlys and its merchant partners make every effort to ensure that alcoholic beverages are not delivered to anyone who is under the age of 21. By using this site you are acknowledging that the person receiving a shipment of alcoholic beverages from Monthlys or its merchant partners is over the age of 21. You also agree that any alcohol purchased from Monthlys is intended for personal consumption and not for resale. If you do not agree with these conditions of use please do not use this site. If you intentionally or unintentionally misrepresent your age in order to provide alcohol to a person under the age of 21 Monthlys and its merchant partners will prosecute you fully to the extent allowable by law.
  </p>

  <p>
    <strong>The Sale of Tobacco Products.</strong> Monthlys does not sell tobacco to persons under the age of 18. Monthlys and its merchant partners make every effort to ensure that tobacco products are not delivered to anyone who is under the age of 18. By using this site you are acknowledging that the person receiving a shipment of tobacco products from Monthlys or its merchant partners is over the age of 18. You also agree that any tobacco purchased from Monthlys is intended for personal consumption and not for resale. If you do not agree with these conditions of use please do not use this site. If you intentionally or unintentionally misrepresent your age in order to provide tobacco to a person under the age of 18, Monthlys and its merchant partners will prosecute you fully to the extent allowable by law.
  </p>

  <p>
    <strong>Promotions, Discounts, Coupons.</strong> From time to time, Monthlys may offer discounts, promotions, or other savings opportunities on the Site or through third party sites in the form of a coupon code or other similar redemption mechanisms ("Coupon Codes"). Coupon Codes are limited to one per User and may not be used on multiple items or by the same User with multiple accounts. The Company reserves the right to void a transaction of any kind for any reason, including orders submitted by Users who use a Coupon Code more than once. Coupon Codes may become expired or voided by the Company at any time without notice to the User.
  </p>

  <p>
    <strong>Responsible party.</strong> Access to this Site is only available to Users. To become a User, you are required to complete an application. You must answer a limited number of mandatory questions on the application; you may also answer additional optional questions if you choose. You represent and warrant that all information you supply to us about yourself and others, including email addresses, is true, valid and current, and that you have the right to supply us with such information.
  </p>

  <p>
    You are responsible for maintaining the secrecy of your login and password. This is essential to protect the confidentiality of any information that may be stored in your account folder. In addition, you will be financially accountable for all use of our Site and Merchants' Sites by you and anyone using your password and login information.
  </p>

  <p>
    <strong>License.</strong> You should assume everything you read or see on the Site, including all files, images, text, software, and data, is protected by copyright, trademark, patent, trade secrets, unfair competition, and other laws of worldwide scope, through the application of local laws or international treaties, or otherwise protected and owned by Monthlys or some third party who licensed to Monthlys the right to use such material. Any unauthorized use, reproduction or modification of this Site may violate such laws. Unless otherwise expressly noted, nothing that you read or see on the Site may be copied or used except as provided in this Agreement or with the prior written approval of Monthlys.
  </p>

  <p>
    Monthlys grants you a limited, personal, nontransferable, non-sublicensable, revocable license to access and use the Site only as expressly permitted in this Agreement. Except for this limited license, we do not grant you any other rights or license with respect to this Site; any rights or license not expressly granted herein are reserved.
  </p>

  <p>
    We grant you permission to print individual pages from the Site, unless otherwise expressly noted, for your own personal, noncommercial use in learning about or evaluating Monthlys.com products and services. No other permission is granted to you to print, copy, reproduce, distribute, license, transfer, sell, transmit, upload, download, store, display in public, alter or modify these materials. This grant of permission is not a transfer of title, and under this permission you may not:
  </p>

  <ul>
    <li>Use any robot, spider, other automatic device, or manual process to monitor Content;</li>
    <li>Use the Site other than to make legitimate reservations or purchases;</li>
    <li>Use the Site to make any false, fraudulent or speculative reservation, or any reservation in anticipation of demand;</li>
    <li>Imply in any fashion that Monthlys is endorsing your products or services;</li>
    <li>Use the materials for any commercial purpose, or for any public display (commercial or noncommercial);</li>
    <li>Remove any copyright, or other proprietary notations from the materials;</li>
    <li>Place false or misleading information on the Site;</li>
    <li>Post or transmit any unlawful, threatening, libelous, defamatory, obscene, indecent, inflammatory, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability, or otherwise violate any law; or for any other purpose that is unlawful or prohibited by this Agreement.</li>
    <li>Use or access the Site in any way that, in our reasonable judgment, adversely affects the performance or function of the Site, or any other computer systems or networks used by Monthlys, other Site Users or members;</li>
    <li>Upload or transmit to the Site or use any device, software or routine that contains viruses, Trojan horses, worms, time bombs, or other computer programming routines that may damage, interfere or attempt to interfere with, intercept, the normal operation of our Site;</li>
    <li>Modify, reverse-engineer, disassemble, redistribute, republish, upload, or re-use any of the text, graphics, or other materials on the Site without Monthlys's prior written permission;</li>
    <li>Transfer the materials to another person or "mirror" the materials on any other server;</li>
    <li>Appropriate the Site or any system, or take any action that imposes an unreasonable load on our computer equipment, or that infringes upon the rights of a third party;</li>
    <li>Use any device, software, or routine that interferes, or attempts to interfere, with the normal operation of our site, or take any action that impose an unreasonable load on our equipment; or</li>
    <li>Disguise the origin of the information transmitted through the Site.</li>
  </ul>

  <p>
    We make no warranties or representations to you that your use of any materials displayed on the Site will not infringe the rights of third parties.
  </p>

  <p>
    <strong>Interactions with Merchants.</strong> Monthlys shall not be liable for your interactions with any Merchants found on or through the Site. This includes, but is not limited to, delivery of goods and services, and any other terms, conditions, warranties or representations associated with the Offering on the Site. Company does not oversee the performance or punctuality of Merchants providing products or services through the Site and is not responsible for any damage or loss incurred as a result of contractual or other dealings with Merchants. All contractual and other dealings are solely between Merchants and you. Monthlys is under no obligation to become involved in disputes between you and Merchants, or any other third party. In the event of a dispute, you release the Company, its members, officers, employees, agents and successors from any and all claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and the Site. Merchants may post additional terms and conditions (“Merchant Terms”) to the Site. You should carefully review Merchant Terms, because those terms will to your interactions with Merchant. If there is a conflict between the Merchant's terms and conditions and this Agreement, the Merchant’s terms and conditions supersede any provision of this Agreement with respect to the content to which it pertains.
  </p>

  <p>
    Though Company is not liable for the actions of Merchants providing services or products through the Site, Merchants are nevertheless wholly responsible for fulfilling obligations both implied and stated in any contract or listing on the Site that they create or create with the help of the Company. Monthlys reserves the right to cancel, interrupt or suspend a Site listing and refund all associated Users' payments and the right to remove a listing from public listings, at any time for any reason.
  </p>

  <p>
    <strong>Content.</strong> The Content is intended for information purposes only. Although we exercise reasonable efforts to ensure quality and accuracy, there might be errors, or the information provided may not be complete, current, or applicable to your particular situation. Further, because information provided regarding the service, amenities, products, etc. have been provided to us by third parties, we assume no liability or responsibility for any errors or omissions. You are responsible for evaluating the accuracy, completeness, and usefulness of any opinion, advice, or other content available through the Site or obtained from a Third Party Site.
  </p>

  <p>
    <strong>Additional Terms.</strong> In addition to the Offering on the Site, for your convenience, our Site provides links and pointers to other sites ("Third Party Sites"). When you click on one of these links, you are leaving our Site and entering another site. We have not reviewed the other Third Party Sites, nor are we responsible for such Third Party Sites. You should carefully review the terms and conditions of use of the Third Party Sites, because those terms will apply to your visit to the other sites. If there is a conflict between the Third Party Sites' terms and conditions and this Agreement, the Third Party Sites' terms and conditions supersede any provision of this Agreement with respect to the content to which it pertains. Further, additional terms may apply when you purchase products or services from a Merchant, or when you participate in sweepstakes, raffle, or other promotions.
  </p>

  <p>
    <strong>Your Comments and Submissions.</strong> Any communications or materials you transmit to Monthlys through the Site, by electronic mail or otherwise, including any data, question, comments, rating of a property or attraction, suggestion, idea, or the like ("Communications or Materials") will be treated as non-confidential and non-proprietary. By voluntarily submitting to us, or by posting on the Site any Communications or Materials, you grant Monthlys, and all users of the Site, a worldwide, non-exclusive, royalty free, perpetual, irrevocable, and fully sub-licensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from distribute, and display such Communications or Materials in any form, media or technology. We assume no responsibility for any Communications or Materials posted or submitted, or for the return of such Communications or Materials. We want your feedback and appreciate your ideas and suggestions, but we are unable to answer every comment individually.
  </p>

  <p>
    <strong>Privacy and Security.</strong> Your use of the Site is subject to our Privacy Policy . You agree that you have read our Privacy Policy, and it is reasonable and acceptable to you. Your acceptance of this Agreement is also your consent to the information practices in our Privacy Policy.
  </p>

  <p>
    <strong>Availability.</strong> We will use our reasonable commercial efforts to keep our Site available on a 24-hour/7-day-a- week basis, subject to necessary scheduled downtime for maintenance, unscheduled maintenance, and system outages. We cannot promise that access to the Site will be uninterrupted or available at all times. We assume no liability or responsibility for any delay, interruption, or downtime.
  </p>

  <p>
    <strong>Viruses.</strong> We make reasonable attempts to exclude viruses from the Site, but cannot ensure that the Site will be at all times free from viruses or other destructive software. You are urged to take appropriate safeguards before downloading information from the Site. We assume no responsibility for any damages to computer equipment or other property that may result from use of the Site or downloading anything from the Site.
  </p>

  <p>
    <strong>Termination.</strong> Monthlys, in its sole discretion, at any time and without advance notice or liability, may terminate or restrict your access to all or any component of our Site, even if access continues to be allowed to others. Upon such termination or suspension, you must immediately discontinue use of the Site, and destroy any copy you have made of any portion of the Site. Accessing the Site after such termination, suspension, or discontinuation shall constitute an act of trespass. Monthlys shall not be responsible to you to such suspension or termination.
  </p>

  <p>
    <strong>Disclaimer of Warranty.</strong> Monthlys makes no warranty of any kind regarding the Site, content, products or services, all of which are provided on an "as is" basis. Monthlys expressly disclaims any representation or warranty that the Site will be free from errors, viruses or other harmful components, that communications to or from the Site will be secure and not intercepted, that the services and other capabilities offered from the Site will be uninterrupted, or that its content will be accurate, complete or current. The fact that Monthlys is including or offering any product or service on the Site is not an endorsement or a recommendation of the product or service. OTHER THAN THOSE WARRANTIES WHICH, UNDER THE LAWS APPLICABLE TO THIS AGREEMENT, ARE IMPLIED BY LAWS, AND ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION, MONTHLYS EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS, INCLUDING IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE.
  </p>

  <p>
    <strong>Limitation of Liability.</strong> Subject to applicable law, use of this Site and its content is at your sole risk. Services and products made available on this Site are subject to conditions imposed by the Merchants. Merchants who furnish products or services through this Site are independent contractors, and not agents or employees of Monthlys. IN NO EVENT WILL MONTHLYS BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THIS SITE, ANY HYPER LINKED WEB SITE, THE ACTS OR OMISSIONS OF MERCHANTS WHO FURNISH PRODUCTS OR SERVICES THROUGH THIS SITE, OR THE PRODUCTS OR SERVICES OFFERED BY MERCHANTS THROUGH THIS SITE, INCLUDING, WITHOUT LIMITATION, WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, THAT ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH(I) ANY USE OF, BROWSING OR DOWNLOADING OF ANY PART OF OUR SITE OR CONTENT, OR (II) THE PERFORMANCE OR NON PERFORMANCE BY US OR ANY MERCHANT, OR (III) ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, EVEN IF MONTHLYS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES TO SUCH PARTIES OR ANY OTHER PARTY.
  </p>

  <p>
    If, despite the limitation above, Monthlys is found liable for any loss or damage which arises out of or is in any way connected with any of the occurrences described in the limitation above, then Company's liability will in no event exceed, in total, the sum of US$250.00. Some states do not allow the limitation of liability, so the limitations above may not apply to you.
  </p>

  <p>
    <strong>Indemnification.</strong> You agree to defend and indemnify Monthlys and each of its respective officers, directors, employees and agents from and against any claim, cause of action or demand, including without limitation reasonable legal and accounting fees, in excess of the liability described above, in any action filed or commenced by any third party against Monthlys as a result of (1) your breach of this Agreement or the documents made part of this Agreement by reference, (2) your violation of any law or the rights of a third party or (3) your use of our Site.
  </p>

  <p>
    <strong>General.</strong> Your acceptance of this Agreement, and your use of the Site do not create a joint venture, partnership, employment, or agency relationship with us. You may not assign, delegate, or transfer your rights or obligations under this Agreement. If we fail to act with respect to your breach or anyone else's breach on any occasion, we are not waiving our right to act with respect to future or similar breaches. If a court finds any of the terms of this Agreement to be unenforceable or invalid, that term will be enforced to the fullest extent permitted by applicable law and the other terms will remain valid and enforceable. The headings in this Agreement are for your convenience and reference; they do not limit or affect this Agreement. This Agreement, together with those items made a part of these terms by reference, make up the entire agreement between Monthlys and User relating to User's use of the Site, and replaces any prior understandings or agreements (whether oral or written) regarding User's use of the Site.
  </p>

  <p>
    Monthlys headquarters are in Chicago, Illinois. Legal issues arising out of, but not exclusive to the use of, this Site or and Third Party Sites (unless otherwise specifically stated) are governed by and in accordance with the laws of the State of Illinois (exclusive of its rules regarding conflicts of laws). By using this Site, User agrees that any dispute or claim arising out of or in connection with this Agreement or the performance, breach or termination thereof, or the Site or any Third Party Sites, shall be finally settled by arbitration in Chicago, Illinois under the rules of arbitration of the American Arbitration Association.
  </p>

  <p>
    <strong>Contact Information.</strong> If you have any questions or concerns about this Agreement or if you need further assistance with respect to access to or use of the Site or the services offered by Monthlys, you may contact our Customer Service department as indicated below. We will attempt to respond to your questions or concerns promptly after we receive them.
  </p>

  <p class="address">
    Customer Support <br />
    Monthlys Inc<br/>
    600 West Chicago Avenue, Suite 700<br/>
    Chicago, IL 60610
  </p>
</div>
