<% content_for(:title) { 'What is Monthlys' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<article class="content">
  <div class="banner">
    <%= image_tag "content/what-is-monthlys/monthlys-vans.png" %>
  </div>
  <hgroup>
    <h1>Monthlys doesn't quite fit into a box. It's not your average app.</h1>
    <h2>Find and activate convenient subscriptions with Monthlys. Find more time for you.</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>Imagine a place where you could turn your lawn care service on with the flip of a switch, have specialty foods delivered to your door each week, and temporarily turn off your gym membership without a hassle.</p>
      <p>Wait, you don't have to dream up this wonderland. The Monthlys Team already created it! You're here, at the go-to place for discovering and managing the recurring products and services you use every month.</p>
      <p>Your favorite bakery down the street (the one that closes just before you get off work)? Now it delivers right to your doorstep. Monthlys is the local businesses you love to use, but just don't have time to visit. Or the products and services you've never heard of, but suddenly cannot imagine living without.</p>
      <p>It's entertaining kids with piano lessons, turning on summer pool passes or creating your own one-of-a-kind floral arrangements from fresh cut flowers. Monthlys works to make managing the household, the family and outside activities as easy as pie. <i>Yes, that delicious, homemade bakery pie you had delivered last week</i>.</p>
    </div>
    <div class="column">

      <p>We're making life's necessities and luxuries easy to fulfill, so you actually have time to do what you want to do. Because really, what good is having it all, if you can't enjoy it?</p>
      <div class="graphic">
        <%= image_tag "content/about/cell-in-hand.png" %>
      </div>
    </div>
  </div>
</article>
