<% content_for(:title) { 'Why Monthlys' } %>

<div class="sidebar">
  <%= render partial: 'pages/navigation' %>
</div>

<article class="content">
  <div class="banner">
    <%= image_tag "content/why-subscriptions/flip-switch.png" %>
  </div>
  <hgroup>
    <h1>Say goodbye to shopping carts and checkouts. Both online and off.</h1>
    <h2>With Monthlys, turn on what you need, turn off what you don't.</h2>
  </hgroup>
  <div class="column-set">
    <div class="column">
      <p>Why subscriptions? Because they’re easy and convenient, and they help you plan and save. Turn them on when you want them, and turn them off when you don’t. No hoops, no run-arounds, no hide-and-seek. </p>

      <p>Most of the things you need on a regular basis should be easy to find and buy. But all too often, we go out of our way to get them, from midnight trips to the corner store to online missions that make us wary.</p>

      <p>Monthlys helps you narrow things down to the things you need or absolutely love and makes it easy to turn them on as a service. Enter your billing info once and turn on or off as many subscriptions as you'd like - even try things just once for an occasional, curated kick. What a life it would be if everything were brought to you. You could read a book, relax or work out, take a class, even spend time working on a personal project.</p>

      <p><strong>Better Planning, Better Buying Power</strong><br />
      Subscriptions give merchants a heads up each month, which in turn, gives you more buying power. Your consistency helps merchants better prepare, cut out waste and deliver a top-notch experience, at a better price.</p>

      <p>Subscriptions are nothing new. Ask your grandparents about the good old days, when they had their milk, eggs and bread delivered right to their door. They’ll tell you, it's an age old way of life. The products were always fresh, there when you needed them and certainly affordable. <br /><br />Monthlys is the first company to bring together all your favorite goods, services and memberships in a single app, where you can pay for and configure your subscriptions without any hassle.</p>

      <p><strong>Proactive Shopping</strong><br />
      When you proactively shop, you are less susceptible to irrational shopping, ordering junk food or spur of the moment service arrangements. With planned services, you’ll save time and energy and be more organized, so you can focus more on what's really important.</p>

      <p><strong>Oust the Monopolies</strong><br />
      We as consumers shop at the mega-stores, taking what they give us at whatever price they know we'll pay. They think we're suckers. Monthlys helps break up these monopolies by offering you greater accessibility to the fruit market a few towns over, that one you wish you could shop at regularly. And that same fruit market happens to really appreciates your business and want to work harder to keep you happy. It figures that we'd help you two love birds chirp.
      <br /><br />Monthlys creates a fair and competitive landscape for merchants, who set their prices according to a fair market value -- based not on your location and what you can pay, but on you should pay. We make it easier for you and local merchants to do business. <a href="/quality">Learn more about our fair cost and quality commitment.</a></p>


    </div>
    <div class="column">

        <p><strong>Curated Goods and Services</strong><br />
        The best part about it; Monthlys hand picks the best merchants. We only feature merchants offering truly great products or services at a fair price. We set ourselves apart from the mega-stores and corporations that lose sight of your attention to detail and yearning for fine, hand-made quality.<br /><br />We look for specialty goods, exceptional service professionals and awesome concepts that we enjoy and are passionate about ourselves. We look for concepts that enhance your quality life and make things easier for Mom, Working Man and your Parents, who need to chill-out a bit. We like helping people entertain guests, host happy hour and treat themselves to a fine bottle of wine and some imported cheese. And we've done all the work to find all these nifty makers and craftsmen.
        </p>

        <p><strong>Consolidate</strong><br />
        Monthlys lets you consolidate and keep tabs on your monthly expenses. We make turning off a subscription as easy as flipping a switch and proactively remind you before each renewal. Really, think about all the dings on your credit card each month, from who only knows what. With Monthlys, you can track what you spend each month on your recurring services and quit wasting money on subscriptions you don't have the time to use or learn how to turn off; consolidate as much as you can on Monthlys.com.</p>
        <div class="graphic">
          <%= image_tag "content/why-subscriptions/boy.png" %>
        </div>

    </div>
  </div>
</article>
