<h1>Thanks for submitting your application.</h1>
<div class="wrapper">
  <p>
    <strong>We've received your information.</strong><br/>
    Someone from Monthlys will respond soon. Thanks for your interest, we look forward to speaking with you.
  </p>
</div>
