<section class="banner">
  <%= image_tag 'business/category-images.png' %>
  <h1>Monthlys supports subscriptions for products, services and memberships.</h1>
  <p>If you have a business and desire repeat customers and recurring revenue, consider Monthlys' approach. Monthlys' technology can help you setup a subscription model in minutes, reach new customers and expand your business.<br /><br />Merchants are currently offering products and services in the following categories:</p>
  <section class="tags">
  <%= image_tag 'business/categories-tags.png' %>
  </section>
  <div class="clearfix"></div>
</section>