<section class="step one">
  <hgroup>
    <h1>Set up a custom subscription site for your existing clientele.</h1>
    <h2>Make signing up and enjoying your service easy peasy lemon squeezy.</h2>
  </hgroup>
  <div class="banner">
    <%= image_tag 'business/custom-one-banner.png' %>
  </div>
</section>

<section class="step two">
  <hgroup>
    <h1>Build out a compelling catalogue of products and services.</h1>
    <h2>Use Monthlys' plan builder to create all sorts of unique subscriptions.</h2>
  </hgroup>
  <div class="banner">
    <%= image_tag 'business/custom-two-banner.png' %>
  </div>
</section>

<section class="benefits">
  <div class="right">
    <section class="promotion">
      <%= image_tag 'business/custom-box2.png' %>
      <h1>Promote</h1>
      <p>For a limited time, we'll supply your business with free collateral for promoting your subscription. <a href="/merchants/new">Get Started</a></p>
      <div class="clearfix"></div>
    </section>
    <section class="commercials">
      <%= image_tag 'business/custom-box3.png' %>
      <h1>Custom Commercials</h1>
      <p>For a limited time, join Monthlys and we'll film a custom commercial for your business. <a href="/merchants/new">Book Your Commercial Now.</a></p>
      <div class="clearfix"></div>
    </section>
  </div>
  <h1>Custom Subscription Site Benefits</h1>
  <ul>
    <li>Privately branded for your existing customer base</li>
    <li>Create as many plans as you'd like, no approvals needed</li>
    <li>Send customers directly to your own URL</li>
    <li>Direct link from your website or use as your main website</li>
    <li>Manage both the Marketplace and Custom Site on Monthlys</li>
    <li>Build credibility and trust with elegance and style</li>
  </ul>
  <div class="clearfix"></div>
</section>