<section class="developers">
  <ul class="tabs">
    <li><a href="#" class="reference">Reference</a></li>
    <li><a href="#" class="developer selected">Developer</a></li>
  </ul>
  <div class="left">
    <nav>
      <h1>Basics</h1>
      <ul>
        <li><a href="#">Authentication</a></li>
        <li><a href="#">HTTP Status Codes</a></li>
        <li><a href="#">Pagination</a></li>
        <li><a href="#">Validation Errors</a></li>
      </ul>
      <h1>API Objects</h1>
      <ul>
        <li><a href="#">Accounts</a></li>
        <li><a href="#">Adjustments</a></li>
        <li><a href="#">Billing Info</a></li>
        <li><a href="#">Coupons</a></li>
        <li><a href="#">Coupon Redemptions</a></li>
        <li><a href="#">Invoices</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Plan Add-ons</a></li>
        <li><a href="#">Subscriptions</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Transaction Errors</a></li>
      </ul>
    </nav>
  </div>
  <div class="right">
    <section>
      <h1>API STATUS</h1>
      <h2>In Development</h2>
      <p>To connect to Monthly's API you will need an API key.</p>
      <h2>Objects</h2>
      <p>Monthlys is actively developing it's first version of the developer API. The developer API will enable merchants to publish and subscribe to real-time inventory data, subscriber information, billing info and coupons. All of our active merchants will receive an email notification once our API is in Beta.</p>
      
    </section>
  </div>
  <div class="clearfix"></div>
</section>