<aside class="begin">
  <h1>Apply for a <br/>Monthlys account</h1>
  <%= link_to 'Get started', new_merchant_path, class: 'btn business' %>
</aside>
<section class="offer">
  <hgroup>
    <h1>Offer your product or service as a subscription. Make it easy for members to sign up.</h1>
  </hgroup>
  <p>
    Setup a subscription in minutes and feature your service in our one-of-a-kind marketplace. Use our marketing platform for growing your business. Pay only if you sell.
  </p>
  <section>
    <figure class="video-popup" data-youtube="//www.youtube.com/embed/KF9dcgslES8?autoplay=1&showinfo=0">
      <%= image_tag 'business/home-video.png' %>
      <figcaption>our how it works video</figcaption>
    </figure>
    <div class="list">
      <h1>We currently have partners in the following industries:</h1>
      <ul>
        <li>Steaks, Fish & Produce</li>
        <li>Pet Care</li>
        <li>Cleaning Services</li>
        <li>Tutoring</li>
        <li>Landscaping</li>
        <li>Personal Training</li>
        <li>Baby Supplies</li>
        <li>Music Instruction</li>
        <li>Fashion Accessories</li>
        <li>Nutrition</li>
        <li>Physical Therapy</li>
        <li>Specialty Goods</li>
      </ul>
      <a href="/business/categories">and are looking for more...</a>
      <div class="clearfix"></div>
    </div>
  </section>
</section>
