<section class="banner">
  <%= image_tag 'business/marketplace-banner.png' %>
  <h1>Monthlys' Marketplace connects your business with high quality customers</h1>
  <p>Add your business to a one-stop-shop for recurring products, services and memberships. Get mass exposure as Monthlys becomes a household name.</p>
  <a class="btn business" href="/merchants/new">Get Started Now</a>
  <div class="clearfix"></div>
</section>
<section class="benefits">
  <div class="right">
    <section class="enduser">
      <figure class="video-popup" data-youtube="//www.youtube.com/embed/5pCdarnvtMU?autoplay=1&showinfo=0">
        <%= image_tag 'business/marketplace-box2.png' %>
      </figure>
      <h1>The End User</h1>
      <p>Monthlys targets the household CEO, working professionals, baby boomers and young adults. Here's just one example of our demographic. <a href="/merchants/new">Get Started</a></p>
      <div class="clearfix"></div>
    </section>
    <section>
      <%= image_tag 'business/marketplace-box3.png' %>
      <h1>Custom Commercials</h1>
      <p>Monthlys produces custom commercials for qualified merchants, schedule yours today. <a href="/business/merchants">See Examples</a></p>
      <div class="clearfix"></div>
    </section>
  </div>
  <h1>Monthlys Marketplace Benefits</h1>
  <ul>
    <li>Reach massive numbers of new potential customers</li>
    <li>Simplify recurring order experience for existing customers</li>
    <li>Only pay Monthlys when you make a sale</li>
    <li>Upsell additional, one-time services to your subscribers</li>
    <li>Build word-of-mouth recognition and customer satisfaction</li>
    <li>Service a hyper-local and national market</li>
    <li>Ride the wave of Monthlys' publicity and viral growth</li>
  </ul>
  <p class="bottomline">Bottom line ... everyone digs Monthlys</p>
  <div class="clearfix"></div>
</section>