<section class="reviews">

    <h1>Monthlys demographics include a wide range of savvy consumers, ready for something new.</h1>

  <ul>
    <li class="video-popup" data-youtube="//www.youtube.com/embed/zcwRDYnleg8?autoplay=1&showinfo=0">
      <%= image_tag 'business/reviews-box2.png' %>
      <a href="">Play</a>
    </li>
    <li class="video-popup" data-youtube="//www.youtube.com/embed/s1Qij3P0M7s?autoplay=1&showinfo=0">
      <%= image_tag 'business/reviews-box4.png' %>
      <a href="">Play</a>
    </li>
    <li class="video-popup" data-youtube="//www.youtube.com/embed/_cD59GNsF-4?autoplay=1&showinfo=0">
      <%= image_tag 'business/reviews-box3.png' %>
      <a href="">Play</a>
    </li>
    <li class="video-popup" data-youtube="//www.youtube.com/embed/jYuBJpN1Kms?autoplay=1&showinfo=0">
      <%= image_tag 'business/reviews-box1.png' %>
      <a href="">Play</a>
    </li>
  </ul>
</section>