<section class="why">
  <h1>Overall, Monthlys is a win-win for your business. Our customers are yours.</h1>
  <ul>
    <li>Create recurring, reliable revenue</li>
    <li>Seamlessly integrate with existing technology</li>
    <li>Reach your most loyal customers more often</li>
    <li>Offer a fun way to experience your brand</li>
    <li>Maximize your organization's downtime</li>
    <li>Try new concepts and get feedback from your community</li>
    <li>Offer your expert advice, curation and picks</li>
    <li>Build a social network of club members</li>
    <li>Simplify your offering</li>
    <li>Cross sell key products to your customers</li>
    <li>Get customers to sample your items</li>
    <li>Offer more convenience</li>
    <li>Make your customers' lives easy</li>
    <li>Be in-front of your customers each month</li>
  </ul>
  <div class="clearfix"></div>
</section>