<ul class="subscriptions-list">
  <% subscriptions.each do |subscription| %>
    <li class="subscriptions-list-item">
      <%= render partial: 'subscriptions/detail', locals: { subscription: subscription, view: 'index' } %>
    </li>
  <% end %>
</ul>
