<div class='subscriptions-list-empty'>
  <p class="empty-notice">You do not have any subscriptions at this time. <%= link_to "View subscriptions in your area", root_path, :class => "btn secondary" %>
  </p>
</div>