<ul class="subscriptions-nav">
  <li class="active"><%= link_to 'Active Subscriptions', subscriptions_path %></li>
  <li class="canceled"><%= link_to 'Canceled Subscriptions', canceled_subscriptions_path %></li>
  <li class="expired"><%= link_to 'Expired Subscriptions', expired_subscriptions_path %></li>
</ul>