<!-- Tracking Code for ShareASale -->
<img src="//shareasale.com/sale.cfm?amount=<%= @subscription.first_time_total %>&tracking=<%= @subscription.id %>&transtype=sale&merchantID=40596" width="1" height="1">

<!-- Google Code for Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 942611472;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "DJcNCPiAlAQQkLi8wQM";
var google_conversion_value = 1;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/942611472/?value=1&amp;label=DJcNCPiAlAQQkLi8wQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
