.wizard_heading {
  padding: 4em 40px 1em;
  clear: both;

  h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    color: #999;
    line-height: 20px;

    a {
      color: #0273dc;
      text-decoration: none;
    }
  }
}