section.get_10_off {
  
  h1.banner {
    text-indent: -9999px;
    width: 620px;
    height: 360px;
    oveflow: hidden;
    background: url(../facebook/get_10_off_banner.png);
    border-bottom: 1px solid #CDEBF2;
  }

  ul.plan-list {
    span.price {
      display: inline;
    }
  }

}