<hgroup>
  <h1 class="main-heading wrapper">Rewards Program</h1>
  <h2 class="tertiary-heading wrapper">Get rewards for your loyalty on Monthlys</h2>
</hgroup>

<section class="intro block">
  <div class="wrapper">
    <div class="medals">
      <h1 class="description">Here's how you can get points:</h1>
      <section class="step first">
        <h1>Staying Active</h1>
        <p>If you have active subscriptions we'll apply handsome credits to your account. You'll be notified each time a credit is applied.</p>
      </section>
      <section class="step second">
        <h1>Having multiple subscriptions</h1>
        <p>If you have more than 1 active subscription, we'll double down on the credits</p>
      </section>
      <section class="step third">
        <h1>Paying Up-Front</h1>
        <p>Buy more months at a time and lock in significant rewards, we're ready to parlay it all</p>
      </section>
    </div>
  </div>
</section>

<section class="point-uses block">
  <div class="wrapper">
    <h1 class="secondary-heading">What can I do with my points?</h1>
    <section class="points points-50">
      <h1>$10 Giftcard</h1>
      <p>Use 50 points to buy a $10 gift card</p>
    </section>
    <section class="points points-90">
      <h1>Cash Credits &amp; Rewards</h1>
      <p>Use 90 points to buy a $20 gift card</p>
    </section>
    <section class="points points-200">
      <h1>Cash Credits &amp; Rewards</h1>
      <p>Use 200 points to buy a $50 gift card</p>
    </section>
    <section class="points points-350">
      <h1>Cash Credits &amp; Rewards</h1>
      <p>Use 350 points to buy a $100 gift card</p>
    </section>
  </div>
</section>

<section class="rewards block">
  <div class="wrapper">
    <hgroup>
      <h1 class="secondary-heading">Gold Members</h1>
      <h2 class="tertiary-heading">Follow our requirements and we'll notify you when you become a gold member</h2>
    </hgroup>
    <section class="cash">
      <h1>Cash Credits &amp; Rewards</h1>
      <p>Cash credits can be used towards your existing subscriptions or future subscriptions.</p>
    </section>
    <section class="exclusivity">
      <h1>Exclusive Subscriptions</h1>
      <p>Gold members get first dibs on exclusive, limited and free subscriptions.</p>
    </section>
    <section class="samples last">
      <h1>Free Samples</h1>
      <p>Get free swag, t-shirts, samples and gifts from Monthlys and our merchants.</p>
    </section>
  </div>
</section>

<section class="testimonials block">
  <div class="wrapper">
    <h1 class="secondary-heading">Testimonials</h1>
    <blockquote>
      <p>Being a Monthlys’ Gold Member is amazing. I’ve a bunch of cool features,
  rewards and free stuff, and I have to do practically anything.</p>
      <footer>
        &mdash; <cite>Martin Lambert</cite>.
        <span>Chicago, IL</span>
      </footer>
    </blockquote>
  </div>
</section>
