/* Merchants ************************************************/

.merchants-show {
  .offer-item,
  .plan {
    clear: both;
    padding-top: 1em;
  }
  .shadow,
  .info {
    float: left;
  }
  .shadow {
    margin-right: 1em;
  }
}
