/* Passwords ************************************************/

/* New */
#cboxLoadedContent .forgot-password {
  label {
    width: 72px;
    float: left;
    line-height: 30px;
  }
  input {
    margin-bottom: 20px;
  }
  input.btn {
    margin: 26px 0 0 73px;
    width: 314px;
  }
}
